.form{
	position:relative;
}
.form .hidden_field-wrapper{
	display:none;
}
.form .form-loader,
.form .form-result{
	display:none;
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
}